<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <%= @season_name %>, <%= @user.email %></h1>
    <p>
      You have successfully registered in the <%= @season_name %>,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and good luck!</p>
  </body>
</html>